@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
:root {
    --bg: #E7CFCD;
    --gray: #f1f1f1;
    --border: #ccc;
    --main: #ff8484;
    --white: #fff;
    --mint: #4DCCBD;
    --blue: #99D6FF;
    --red: #FFBE96;
    --yellow: #DFBC54;
    --darkgray: #666;
    --deepblue: #396ee2;

  }
  
#root { height: 100vh; background: var(--bg); display: flex; justify-content: center; align-items: center; font-family: 'PT Mono', monospace, sans-serif; } /* width: 100vw issue */
.container { width: 100%; max-width: 1000rem; padding: 20rem; background: var(--white); border-radius: 10rem; } 
.dashed-line { width: 100%; height: 100%; border: 2rem dashed rgba(102, 102, 102, .5); border-radius: 10rem; } 
.wrap { position: relative; padding: 20rem; } 
.inner { display: flex; justify-content: space-between; align-items: stretch; } 

.home-left { background: salmon; width: 250rem; border: 1rem solid var(--border); border-right: 0; border-radius: 10rem; flex-shrink: 0; background: var(--gray); font-size: 13rem;  } 
.home-right { width: calc(100% - 250rem); max-width: 900rem; border: 1rem solid var(--border); border-left: 0; border-radius: 10rem; background: var(--gray); } 
.home-left-body, .home-right-body { position: relative; height: 100%;  background: var(--white);margin-top: 20rem;  border-radius: 10rem;  padding: 20rem; border: 1rem solid var(--border);height: 100vh; max-height: 370rem; }

.mg20 { margin: 20rem; } 
@media (max-width: 1180px) {
    #root { padding: 30rem; } 
}

@media (max-width: 768px){
    #root{/* height: 100%;  */padding: 30rem 60rem;}
    .inner { flex-direction: column; } 
    .inner > div { min-height: 150rem; } 
    .home-left, .home-right { width: 100%; } 
    .home-left { border-right: 1rem solid var(--border); border-bottom: 0; }
    .home-right { border-left: 1rem solid var(--border); border-top: 0; }
    .home-left-body, .home-right-body { max-height: 300rem; }
    .home-right-body{overflow-y: scroll;}
}

@media (max-width: 540px) {
    #root { padding: 20rem; } 
    .container{padding: 10rem;}
    .wrap{padding: 10rem;}
    .mg20{margin: 10rem;}
    .home-left-body, .home-right-body{padding: 10rem; margin-top: 10rem;}
}
@media (max-width: 340px) {
    .home-right-body{overflow-y:hidden;}
}